{% extends 'base.html.twig' %}

{% block body %}
    <h1>Strength</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ strength.id }}</td>
            </tr>
            <tr>
                <th>Min</th>
                <td>{{ strength.min }}</td>
            </tr>
            <tr>
                <th>Max</th>
                <td>{{ strength.max }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if strength.createdAt %}{{ strength.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if strength.updatedAt %}{{ strength.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('combatants_strength_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('combatants_strength_edit', { 'id': strength.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
